<blockquote>
  <p>Pycoin is a privacy preserving zero-knowledge protocol-based decentralized platform for writing, testing and deploying mathematically verifiable cyber contracts in Python language that behave exactly as intended.Unlike Ethereum smart contracts with a history of repeated hacks and stolen funds, hundreds and millions of dollars, Pycoin ensures that no run time errors or intentional/unintentional bugs can be used as exploits to steal funds and corrupt Pycoin cyber contracts. Pycoin can be also used as a platform for launching a number of next generation decentralized applications such as scalable decentralized exchanges(DEXs), automated hedge funds and darkpools</p>
  <footer><a href="http://www.pycoin.io/" target="_blank">http://www.pycoin.io/</a></footer>
</blockquote>
